Mobile/App_WebReferences/LoginSvcRef/SCStartUpSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SCStartUpSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2310/SIMARCBack/SCStartUpSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2310/SIMARCBack/SCStartUpSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_Common" />
      <xsd:import schemaLocation="http://localhost:2310/SIMARCBack/SCStartUpSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2310/SIMARCBack/SCStartUpSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISCStartUpSvc_GetListFileSupportVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListFileSupportVersion" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_GetListFileSupportVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListFileSupportVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_GetListFileSupportVersion_SC_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SC_Common" name="detail" element="q1:SC_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_UpdateFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFile" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_UpdateFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_UpdateFile_SC_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SC_Common" name="detail" element="q2:SC_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_UpdateAppDllPath_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppDllPath" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_UpdateAppDllPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppDllPathResponse" />
  </wsdl:message>
  <wsdl:message name="ISCStartUpSvc_UpdateAppDllPath_SC_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SC_Common" name="detail" element="q3:SC_ServiceExceptions" />
  </wsdl:message>
  <wsdl:portType name="ISCStartUpSvc">
    <wsdl:operation name="GetListFileSupportVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCStartUpSvc/GetListFileSupportVersion" message="tns:ISCStartUpSvc_GetListFileSupportVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCStartUpSvc/GetListFileSupportVersionResponse" message="tns:ISCStartUpSvc_GetListFileSupportVersion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISCStartUpSvc/GetListFileSupportVersionSC_ServiceExceptionsFault" name="SC_ServiceExceptionsFault" message="tns:ISCStartUpSvc_GetListFileSupportVersion_SC_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCStartUpSvc/UpdateFile" message="tns:ISCStartUpSvc_UpdateFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCStartUpSvc/UpdateFileResponse" message="tns:ISCStartUpSvc_UpdateFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISCStartUpSvc/UpdateFileSC_ServiceExceptionsFault" name="SC_ServiceExceptionsFault" message="tns:ISCStartUpSvc_UpdateFile_SC_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppDllPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCStartUpSvc/UpdateAppDllPath" message="tns:ISCStartUpSvc_UpdateAppDllPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCStartUpSvc/UpdateAppDllPathResponse" message="tns:ISCStartUpSvc_UpdateAppDllPath_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISCStartUpSvc/UpdateAppDllPathSC_ServiceExceptionsFault" name="SC_ServiceExceptionsFault" message="tns:ISCStartUpSvc_UpdateAppDllPath_SC_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISCStartUpSvc" type="tns:ISCStartUpSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListFileSupportVersion">
      <soap:operation soapAction="http://tempuri.org/ISCStartUpSvc/GetListFileSupportVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SC_ServiceExceptionsFault">
        <soap:fault use="literal" name="SC_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap:operation soapAction="http://tempuri.org/ISCStartUpSvc/UpdateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SC_ServiceExceptionsFault">
        <soap:fault use="literal" name="SC_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppDllPath">
      <soap:operation soapAction="http://tempuri.org/ISCStartUpSvc/UpdateAppDllPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SC_ServiceExceptionsFault">
        <soap:fault use="literal" name="SC_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCStartUpSvc">
    <wsdl:port name="BasicHttpBinding_ISCStartUpSvc" binding="tns:BasicHttpBinding_ISCStartUpSvc">
      <soap:address location="http://localhost:2310/SIMARCBack/SCStartUpSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>