Mobile/App_WebReferences/MenuSvcRef/SCMenuSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SC_Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SC_Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SC_ServiceExceptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exceptions" nillable="true" type="tns:ArrayOfSC_Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SC_ServiceExceptions" nillable="true" type="tns:SC_ServiceExceptions" />
  <xs:complexType name="ArrayOfSC_Error">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SC_Error" nillable="true" type="tns:SC_Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSC_Error" nillable="true" type="tns:ArrayOfSC_Error" />
  <xs:complexType name="SC_Error">
    <xs:sequence>
      <xs:element name="lcErrDescp" nillable="true" type="xs:string" />
      <xs:element name="lcErrNo" nillable="true" type="xs:string" />
      <xs:element name="llHasErrorDetail" type="xs:boolean" />
      <xs:element name="loErrorDetails" nillable="true" type="tns:ArrayOfSC_ErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SC_Error" nillable="true" type="tns:SC_Error" />
  <xs:complexType name="ArrayOfSC_ErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SC_ErrorDetail" nillable="true" type="tns:SC_ErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSC_ErrorDetail" nillable="true" type="tns:ArrayOfSC_ErrorDetail" />
  <xs:complexType name="SC_ErrorDetail">
    <xs:sequence>
      <xs:element name="lcErrDescp" nillable="true" type="xs:string" />
      <xs:element name="lcErrNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SC_ErrorDetail" nillable="true" type="tns:SC_ErrorDetail" />
</xs:schema>