Mobile/App_WebReferences/MenuSvcRef/SCMenuSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfsys_appDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sys_appDTO" nillable="true" type="tns:sys_appDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsys_appDTO" nillable="true" type="tns:ArrayOfsys_appDTO" />
  <xs:complexType name="sys_appDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APP_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_GROUP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODULE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODULE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sys_appDTO" nillable="true" type="tns:sys_appDTO" />
  <xs:complexType name="loginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_MAP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="loginDTO" nillable="true" type="tns:loginDTO" />
  <xs:complexType name="ArrayOfRoleAppDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleAppDTO" nillable="true" type="tns:RoleAppDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleAppDTO" nillable="true" type="tns:ArrayOfRoleAppDTO" />
  <xs:complexType name="RoleAppDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add_Permit" type="xs:boolean" />
      <xs:element minOccurs="0" name="App_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delete_Permit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Edit_Permit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Read_Permit" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleAppDTO" nillable="true" type="tns:RoleAppDTO" />
</xs:schema>